.header {
	background-color: #012257;
	color: white;
	text-align: center;
}

.logo-title {
	font-family: "Source Sans Pro";
	font-size: 50px;
}

.logo-subtitle {
	font-size: 15px;
}

body {
	margin: 0px;
}

.wrapper {
	font-family: "Roboto";
}

.main{
}

@media only screen and (max-width: 600px) {
	.nav {
		color: white;
		background-color: #001a49;
	}
	.nav ul {
		display: block;
		list-style-type: none;
		text-align: center;
		margin: auto;
		padding: 0px;	
	}
	.nav li {
		padding: 0px;
	}

}

@media only screen and (min-width: 601px) {

	.nav {
		color: white;
		background-color: #001a49;
		height: 30px;
	}

	.nav ul {
		list-style-type: none;
		display: inline-block;
		float: none;
		position: absolute;
		left: 40%;
		transform: translate(-27%, 0%);
		width: 30%;
		margin: 0px 0px;
	}

	.nav li {
		display: inline;
		text-decoration: none;
		margin: 0px 0px;
		width: 25%;
		text-align: center;
		float: left;
	}	

	.nav li:hover {
		background-color: blue;
	}

}

.active {
	background-color: #124477
}

.content-container {
}


#tab1 {
	padding: 5px 0px;
}


#tab1-content .tile {
	margin: 10px 10px;
}

#tab1-content  p {
	font-size: 10px;
}
#tab1-content img {
	height: auto;
	width: 100%;
}

.size-3 {
	display: inline-block;
	width: 29%;
	height: 30%;
	overflow: hidden;
}

.size-2 {
	display: inline-block;
	width: 45%;
	height: 50%;
	overflow: hidden;
}

.size-1 {
	display: inline-block;
	width: 100%;
	height:50%;
	overflow: hidden;
}

#tab2 {
	padding: 5px 0px;
}

#tab2-content img {
	height: 50%;
	width: 92%;
}

#tab2-content .tile-title {
	color: #02173e;
	font-size: 30px;
}

#tab3 {
	padding: 5px 0px;
}

#tab3-content img {
	height: 50%;
	width: 93%;
}

#tab3-content .tile-title {
	font-size: 30px;
	color: #3f3f3f;
	margin-left: 15%;
}

#tab3-content .tile-text {
	margin-left: 15%;
}

#tab4 {
	padding: 5px 0px;
}

#tab4-content .image-mosaic {
	margin-top: 20px;
}

#tab4-content .mosaic-tile {
	width: 22%;
	height: 30%;
	margin: 3px 4px;
	border: 1px solid black;
}

#tab4-content img {
	width: 100%;
	height: auto;
	margin-bottom: -4px;
}
#tab4-content .row {
	display: flex;
	flex-direction: row;
}

.active-content {
	display: block;
}

.in-active-content {
	display: none;
}



.tab-content {
	float: left;
	margin-right: 300px;
	margin-left: 300px;
	width: calc(100% - 600px);
}

.left-sidebar {
	width: 300px;
	margin: 0%;
	padding: 0;
	position: fixed;
	height: 100%;
	overflow: auto;
	float: left;
}

.lsb-content ul {
	list-style-type: none;
	padding: 0;
	margin-left: 0%;
}

.left-sidebar li {
	display: inline;
	text-decoration: none;
}
.left-sidebar a {
	display: block;
	color: blue;
	padding: 2px;
	text-decoration: none;
}


@media only screen and (max-width: 1243px) {
	.right-sidebar {
		width: 300px;
		margin-left: 75%;
		padding: 0px;
		position: fixed;
		height: 100%;
		overflow: auto;
		float: right;
	}
}

@media only screen and (min-width: 1244px) {
	.right-sidebar {
		width: 300px;
		margin-left: 77%;
		padding: 0px;
		position: fixed;
		height: 100%;
		overflow: auto;
		float: right;
	}
}

@media only screen and (max-width: 1200px) {
	.right-sidebar {
		display: none;
	}
	.tab-content {
		float: right;
		width: calc(100% - 300px);
		margin-right: 0%;
		margin-left: 0%;
	}
	.footer {
		clear: both;
	}
}

@media only screen and (max-width: 900px) {
	.left-sidebar {
		display: none
	}
	.tab-content {
		float: none;
		width: 100%;
	}
	.footer {
		clear: both;
	}
		
}


.footer {
	clear: both;
}


	
